@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

/* form{
    display: flex;
    flex-direction: column;
    align-items: start;
} */

kbd{
    opacity: 0.8;
}

kbd:active{
    opacity: 1;
}
#nonce{
    visibility: hidden;
}
.keyboard{
    display: flex;
}
#btn{
    margin: 10px;
}
.seqNode{
    border: 1px solid black;
}
.active{
    background-color: red;
}
.gray{
    background-color: gainsboro;
}
#seqArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.board{
    margin-top: 2%;
    margin-bottom: 3%;
}
.flex-end{
    display: flex;
    justify-content: end;
} 
.flex-start{
    display: flex;
    align-items: start;
    margin-bottom: 4%;
}
.flexxy{
    display: flex;
    align-items: start;
    margin-bottom: 4%;
}
.navvy{
    margin-left: 2%;
    width: 95vw;
    margin-bottom: 5%;
} 
#seqBack{
    background: no-repeat url('../static/seqart1.jpg');
    
}
.gold{
    border: 3px solid goldenrod;
}
.login{
    min-width: 90%;
}
.cntrls{
    display: flex;
    width: 50vw;
    justify-content: space-around;
}