@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

/* form{
    display: flex;
    flex-direction: column;
    align-items: start;
} */

kbd{
    opacity: 0.8;
}

kbd:active{
    opacity: 1;
}
#nonce{
    visibility: hidden;
}
.keyboard{
    display: flex;
}
#btn{
    margin: 10px;
}
.seqNode{
    border: 1px solid black;
}
.active{
    background-color: hsl(var(--er));
}
.gray{
    background-color: gainsboro;
}
#seqArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.board{
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 2%;
    background-color: hsl(var(--b2));
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    border-radius: 6%;
}
.flex-end{
    display: flex;
    justify-content: end;
} 
.flex-start{
    display: flex;
    align-items: start;
    margin-bottom: 4%;
}
.flexxy{
    display: flex;
    align-items: start;
    margin-bottom: 4%;
}
.navvy{
    margin-left: 2%;
    width: 95vw;
    margin-bottom: 5%;
} 
#seqBack{
    background: no-repeat url('../static/seqart1.jpg');
    
}
.gold{
    border: 3px solid goldenrod;
}
.login{
    min-width: 90%;
}
.cntrls{
    display: flex;
    width: 60vw;
    justify-content: space-around;
}
.instcntrls{
    display: flex;
    width: 100%;
    margin-bottom: 2%;
}
.instbtn{
    margin-right: 2%;
}
.btnpress{
    top: 2px;
    left: 1px;
    box-shadow: none;
}
.bxsh{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
.octaveSlider{
    transform: rotate(-90deg);
    height: 5%;
}
.brdbtm{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.authForm {
    z-index: 1000;
}