@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

kbd{
    opacity: 0.8;
}

kbd:active{
    opacity: 1;
}
#nonce{
    visibility: hidden;
}
.keyboard{
    display: flex;
}
#btn{
    margin: 10px;
}
.seqNode{
    border: 1px solid black;
}
.active{
    background-color: red;
}
.gray{
    background-color: gainsboro;
}
#seqArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.board{
    margin-top: 2%;
    margin-bottom: 3%;
}
.flex-end{
    display: flex;
    justify-content: end;
}
