<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>synth</title>
    <link rel="stylesheet" href="./static/output.css">
</head>
<body>


    {% block content %}
    {% endblock %}

        <!-- <div class="keys">
            <div class="flex justify-center gap-1 my-1 w-full">
            
                <kbd class="kbd" id="C#">w</kbd>
                <kbd class="kbd" id="D#">e</kbd>
                <kbd class="kbd" id="nonce">-</kbd>
                <kbd class="kbd" id="F#">t</kbd>
                <kbd class="kbd" id="G#">y</kbd>
                <kbd class="kbd" id="A#">u</kbd>
            </div>
            <div class="flex justify-center gap-1 my-1 w-full">
                <kbd class="kbd" id="C">a</kbd>
                <kbd class="kbd" id="D">s</kbd>
                <kbd class="kbd" id="E">d</kbd>
                <kbd class="kbd" id="F">f</kbd>
                <kbd class="kbd" id="G">g</kbd>
                <kbd class="kbd" id="A">h</kbd>
                <kbd class="kbd" id="B">j</kbd>
            </div>
        </div> -->

</body>
</html>