<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>synth</title>
    <link rel="stylesheet" href="./static/output.css">
</head>
<body>
    <div class="navbar bg-base-100">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl">synthUI</a>
        </div>
        <div class="flex-none">
          <div class="dropdown dropdown-end">
            <label tabindex="0" class="btn btn-ghost btn-circle avatar">
              <div class="w-10 rounded-full">
                <img src="../static/ava.png" />
              </div>
            </label>
            <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
              <li>
                <a class="justify-between">
                  Profile
                  <span class="badge">New</span>
                </a>
              </li>
              <li><a>Settings</a></li>
              <li><a>Logout</a></li>
            </ul>
          </div>
        </div>
      </div>


      <ul class="menu bg-base-200 w-56 rounded-box">
        <li>
          <h2 class="menu-title">Projects</h2>
          <ul>
            <li><a>Item 1</a></li>
            <li><a>Item 2</a></li>
            <li><a>Item 3</a></li>
          </ul>
        </li>
      </ul>

    <div id="seqArea">
    </div>

        <!-- <div class="keys">
            <div class="flex justify-center gap-1 my-1 w-full">
            
                <kbd class="kbd" id="C#">w</kbd>
                <kbd class="kbd" id="D#">e</kbd>
                <kbd class="kbd" id="nonce">-</kbd>
                <kbd class="kbd" id="F#">t</kbd>
                <kbd class="kbd" id="G#">y</kbd>
                <kbd class="kbd" id="A#">u</kbd>
            </div>
            <div class="flex justify-center gap-1 my-1 w-full">
                <kbd class="kbd" id="C">a</kbd>
                <kbd class="kbd" id="D">s</kbd>
                <kbd class="kbd" id="E">d</kbd>
                <kbd class="kbd" id="F">f</kbd>
                <kbd class="kbd" id="G">g</kbd>
                <kbd class="kbd" id="A">h</kbd>
                <kbd class="kbd" id="B">j</kbd>
            </div>
        </div> -->

</body>
<script src="../static/sub.js" type="module" ></script>
</html>